body, html, #root {
  margin: 0;
  padding: 0;
  height: 100%;
}

/* Décaler les contrôles de zoom Leaflet vers le bas */
.leaflet-top.leaflet-left {
  top: 60px !important;
  left: 30px !important;
}